body {
    background: #93d28f
}

#banner {
    width: 100%;
}

.principal {
    background: #568945c6;
    padding: 30px;
}

.titulo-principal {
    padding-left: 30px;
    text-align: center;
    color: #44843f;
}

.titulo-centralizado {
    text-align: center;
    color: #244721;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: rgb(36, 77, 39);
}

.itens {
    font-style: italic;
}

.Beneficios {
    background: #93d28f;
    padding: 30px;
    color: #3a7036;
}



.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}